<main>
	<div class="txt d-flex justify-content-center">
		<h2 class="ofertas text-center">OFERTAS</h2>
	</div>

	<div class="container container-ofertas">
		<div class="row">
			<div class="col-sm-3 col-card">
				<div class="card">
					<ul class="p-2 lista-o ul-oft">
						<li class="float-end">
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="35% de descuento">-35%</span>
							</h4>
						</li>
						<li>
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="Oferta por tiempo limitado">Oferta</span>
							</h4>
						</li>
					</ul>
					<img src="./assets/img/LAUREN RALPH.jpg" class="card-img-top" alt="..." />
					<h5 class="card-title text-center">Ralph Lauren</h5>
					<div class="card-body">
						<p class="card-text">
							Camiseta de algodón con cuello barco
						</p>
						<p class="card-text">
							<small class="text-muted">Color: Rojo</small>
						</p>
						<div class="cont-pd">
							<p class="float-end p-pre">$45.500</p>
							<p class="p-oft">$70.000</p>
						</div>
						<div class="d-flex justify-content-center">
							<a href="./productos.html" class="btn btn-card">Añadir Producto</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-card">
				<div class="card">
					<ul class="p-2 lista-o ul-oft">
						<li class="float-end">
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="50% de descuento">-50%</span>
							</h4>
						</li>
						<li>
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="Oferta por tiempo limitado">Oferta</span>
							</h4>
						</li>
					</ul>
					<img src="./assets/img/Producto2.PNG" class="card-img-top" alt="..." />
					<h5 class="card-title text-center">Lejame Tr</h5>
					<div class="card-body">
						<p class="card-text">Conjunto de dos piezas</p>
						<p class="card-text">
							<small class="text-muted">Color: Cafe</small>
						</p>
						<div class="cont-pd">
							<p class="float-end p-pre">$75.000</p>
							<p class="p-oft">$150.000</p>
						</div>
						<div class="d-flex justify-content-center">
							<a href="./productos.html" class="btn btn-card">Añadir Producto</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-card">
				<div class="card">
					<ul class="p-2 lista-o ul-oft">
						<li class="float-end">
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="35% de descuento">-35%</span>
							</h4>
						</li>
						<li>
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="Oferta por tiempo limitado">Oferta</span>
							</h4>
						</li>
					</ul>
					<img src="./assets/img/Alex Evening.jpg" class="card-img-top" alt="..." />
					<h5 class="card-title text-center">Alex Evenings</h5>
					<div class="card-body">
						<p class="card-text">
							Vestido de noche largo de lentejuelas
						</p>
						<p class="card-text">
							<small class="text-muted">Color: Azul marino</small>
						</p>
						<div class="cont-pd">
							<p class="float-end p-pre">$260.000</p>
							<p class="p-oft">$400.000</p>
						</div>
						<div class="d-flex justify-content-center">
							<a href="./productos.html" class="btn btn-card">Añadir Producto</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-card">
				<div class="card">
					<ul class="p-2 lista-o ul-oft">
						<li class="float-end">
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="75% de descuento">-75%</span>
							</h4>
						</li>
						<li>
							<h4>
								<span class="badge rounded-pill sbadge hola" data-bs-toggle="tooltip"
									data-bs-placement="top" title="Oferta por tiempo limitado">Oferta</span>
							</h4>
						</li>
					</ul>
					<img src="./assets/img/Levis.jpg" class="card-img-top" alt="..." />
					<h5 class="card-title text-center">Levi's Premium</h5>
					<div class="card-body">
						<p class="card-text">Pantalon recto de tiro alto</p>
						<p class="card-text">
							<small class="text-muted">Color: Negro</small>
						</p>
						<div class="cont-pd">
							<p class="float-end p-pre">$25.000</p>
							<p class="p-oft">$100.000</p>
						</div>
						<div class="d-flex justify-content-center">
							<a href="./productos.html" class="btn btn-card">Añadir Producto</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>